/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */
body{
    font-size: 16px;
}
/* nav section start */
.nav-a{
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
}
.navimg{
    width: 291.11px;
    height: 39.27px;

}
/* nav section end */
.catalog-img{
    width: 79px;
    height: 82px;
}
/* .catalog-box{
    background: #FFFFFF;
    box-shadow: 0em 0.625em 1.875em rgba(0, 0, 0, 0.05);
    border-radius: 20px;
} */

.catalog-h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;  
    color: #363958;

}
.catalog-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3E3E3E;
}
.catalog-right-side-img{
    width: 100%;
}
.card-header-background{
    background-color: white;
}



.discount{
    padding: 8px;
    background-color: white;
    border-radius: 25px;
    
}
.discount-col-inside{
    padding: 35px;
}
